*{
    padding: 0;
    margin: 0;   
}
#navbar{
    background-color: #B8DBD9;
    height: 40px;
    padding: 10px;    
}
#logo{
    padding: 10px;
    font-size: 25px;
    font-family:sans-serif;
    text-align: center;
}
#home{
    height: 700px;
    background-color: #2F4550;
    padding: 20px;
}
.name{
    font-size:120px;
    color: white;
    display: inline-block;
}
#content{
    color: #B8DBD9;
    font-size: 40px;
}
#sendemail{
    color: black;
    text-decoration: none;
    font-size: 30px;
}
#box{
    padding: 10px;
    height: 40px;
    width: 155px;
    background-color: #B8DBD9;
    border: 3px solid white;
    border-radius: 10px;
}